
//Brand colors 
$bg-color:#F9D4C1;
$red-color1:#DC0025;
$black-color:#181818;
$black-color2:#070707;
$white-color:#FCEAEA;
$text-color1:#3A2828;


//Auxyliar colors
$orange-pergamin: #F6AE84;
$orange: #F39761;
